{% extends 'base.html' %}

{% block content %}
<h1 class="title">Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    
    {{ form.username.label_tag }}
    {{ form.username }}
    <br>
    
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    <br>
    
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    <br>
    
    {% if request.user.is_anonymous %}
    {{ form.email.label_tag }}
    {{ form.email }}
    <br>
    {% endif %}
    
    {% if request.user.is_anonymous %}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    <br>
    
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
    <br>
    {% endif %}
    
    {% if request.user.is_anonymous %}
    {{ form.customer.name.label_tag }}
    {{ form.customer.name }}
    <br>
    {% endif %}
    
    <input type="submit" class="btn" value="Sign Up" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
