{%extends 'base.html'%}
{%load static%}
{%block content%}


<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt7/2+placeholder.png">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
</div>
</div>

<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt7/2+placeholder.png">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
</div>
</div>

<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt7/2+placeholder.png">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
</div>
</div>

{%endblock content%}