{%extends 'base.html'%}
{%load static%}
{%block content%}


<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://fanatics.frgimages.com/toronto-raptors/mens-mitchell-and-ness-vince-carter-white-toronto-raptors-1997-98-hardwood-classics-swingman-jersey_pi2859000_ff_2859915_full.jpg?_hv=2&w=900">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
    </div>
</div>

<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://fanatics.frgimages.com/orlando-magic/mens-mitchell-and-ness-tracy-mcgrady-blue-orlando-magic-2000-01-hardwood-classics-swingman-jersey_pi2751000_altimages_ff_2751369alt1_full.jpg?_hv=2&w=900">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
    </div>
</div>

<div class ='row'>
    <div class = 'col-lg-4'>
        <img class ="thumbnail" src = "https://fanatics.frgimages.com/los-angeles-lakers/mens-mitchell-and-ness-kobe-bryant-royal-los-angeles-lakers-1996-97-hardwood-classics-authentic-player-jersey_pi3633000_altimages_ff_3633450-35489f2e237d004eb8dcalt1_full.jpg?_hv=2&w=900">
        <div class = 'box-element product'>
        <h2> product</h2>
        <hr>
        <button></button>
    </div>
</div>
</div>

{%endblock content%}